<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

  <title>Modification Epreuve</title>

  <style>
    body {
      padding-top: 50px;
    }

    .special {
      padding-top: 50px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="../listParisAdm">Retour</a>
    </div>
  </div>
</nav>


<div class="container special">

  <h2 class="h2">Modification d'une epreuve</h2>
  <div>
    <form method="post"
          th:action="@{/saveEpreuve}" th:object="${epreuve}">
      <div class="form-group">
        <input
                type="hidden" th:field="*{id}" class="form-control">
      </div>
      <div class="form-group">
        <label for="libelleInput">Libelle</label>
        <input
                type="text" th:field="*{libelle}" class="form-control" id="libelleInput"
                aria-describedby="libelleInputHelp" placeholder="Saisir le libelle"> <small
              id="libelleInputHelp" class="form-text text-muted"></small>
      </div>

      <div class="form-group">
        <label for="placeInput">Place</label>
        <input
                type="text" th:field="*{date_debut}" class="form-control" id="placeInput"
                aria-describedby="placeInputHelp" placeholder="Saisir la date de début"> <small
              id="placeInputHelp" class="form-text text-muted">Saisir la date de début</small>
      </div>

      <div class="form-group">
        <label for="miseInput">Mise</label>
        <input
                type="text" th:field="*{date_fin}" class="form-control" id="miseInput"
                aria-describedby="miseInputHelp" placeholder="Saisir la date de fin"> <small
              id="miseInputHelp" class="form-text text-muted">Saisir la date de fin</small>
      </div>




      <a th:href="@{/updateEpreuve/{id}(id=${epreuve.id})}"><button class="btn btn-info">Modifier</button></a>

  </div>

</div>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>